ul {
    list-style: none;
}

.form-element {
    margin: 1em 0;
    box-size: border-box;
}

h1 {
    text-align: left;
}

input, textarea {
    width: 100%;

}

@media screen and (min-width: 35.5em) {
    form {
        width: 70%;
    }

    label {
        float: left;
    }

    input, textarea {
        float: right;
    }
}
