@import "colors";

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-element {
    margin: 1em 0;
    box-size: border-box;
}

h1 {
    text-align: left;
}

form {
    & input, textarea {
        color: $dark-grey;
        width: 100%;
    }
    & button {
        transition: background-color 0.1s ease;
        border: 0 none;
        border-radius: 3px;
        background-color: $item-bg-color;
        color: $light-grey;
        letter-spacing: .2rem;
        padding: .5rem;
        width: 8rem;
    }
    & button:hover {
        background-color: $generic-blue;
        color: white;
    }
}

//TODO research about viewport sizes
//@media screen and (min-width: 80em) {
@media screen and (min-width: 35.5em) {
    form {
        width: 70%;
        input, textarea {
            float: right;
        }
    }

    label {
        float: left;
    }
}
