.app-container {
    height: 100%;
    background-color: transparent;
    overflow: scroll;
}

.logo-container {
    justify-content: center;
    align-items: center;
}

.logo-container > img {
    width: 60%;
}

.vert-line {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.long {
    height: 10%;
}

.short {
    height: 5%;
}

.vert-line:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid #fff;
}

.inner-title > h1 {
    font-family: Rajdhani;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

.inner-title {
    width: 100%;
    border-style: solid;
    border-color: #fff;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.main-menu{
    width: 50%;
    margin: 0 auto;
    border: solid 1px #fff;
    border-radius: 10px;
}

.main-menu > a:first-child{
    border: 0;
}

.main-menu > a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.main-menu > a {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    box-sizing: border-box;
    border-top: solid 1px #fff;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    font-family: Rajdhani;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
}

@media screen and (min-width: 35.5em) {
    .inner-title {
        margin: 0 auto;
        width: 60%;
    }

    .logo-container > img{
        width: 10%;
    }

    .main-menu > a {
        border-top:0;
        border-left: solid 1px #fff;
    }
}
