@import "colors";

#top-menu-icon {
    float: right;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-image:url(../img/menu-icon.png);
    background-color: $menu-bg-color ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover{
        background-color: $hover-item-color;
        border-radius: 4px 4px 0 0;
    }
}

#top-menu {
    ul {
        display: none;
        position: absolute;
        padding: 20px;
        background-color: $white;
        right: 1em;
        top: 3em;
        border-radius: 4px 0 4px 4px;
    }
    &:hover ul {
        display: block;
    }
}

.top-menu-item {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: Rajdhani;
    font-weight: 700;
    padding: 10px 0;
    text-decoration: none;
    color: $menu-item-color;
    &.current {
        color: $current-menu-item-color;
    }
    &:hover {
        color: $hover-item-color;
    }
}

@media screen and (min-width : 35.5em) {

    #top-menu-icon {
        display:none;
    }

    #top-menu-container {
        width: 100%;
        background: $menu-bg-color;
        border-radius: 3px;
    }

    #top-menu {
        float: right;
        ul {
            list-style: none;
            display: inline-block;
            position: relative;
            padding: 0;
            margin: 0;
            background-color: inherit;
            right: 0;
            top: 0;
            & li {
                display: inline-block;
            }
        }
        .top-menu-item {
            padding: 0 .5em;
        }
    }
}
