article > img {
    border-radius: 5px;
    width: 97%;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 35.5em) {
    img#chicken {
        width: 50%;
        float: right;
        margin: 1rem;
    }

}
