article > img {
    border-radius: 5px;
    width: 97%;
    display: block;
    margin: 0 auto;
}

article#mission-text > p {
    font-size: 1.5rem;
    font-weight: normal;
}

.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}

.image:before {
    pointer-events: none;
    background-color: rgba(19, 21, 25, 0.5);
    border-radius: 4px;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

.image img {
    border-radius: 4px;
    display: block;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 2.5rem 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

@media screen and (min-width : 35.5em) {

}

@media screen and (max-width: 736px) {

    .image.main {
        margin: 2rem 0;
    }

}

@media screen and (max-width: 480px) {

    .image.main {
        margin: 1.5rem 0;
    }

}
